body {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

#container {
    width: 900px;
    height: 600px;
    background-color: gray;
    position: relative;
}

img {
    position: absolute;
    width: 100px;
    height: 100px;
}

img.end {
    width: 600px;
    height: 300px;
    left: 0;
    top: 0;
}